<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Details of Projects</title>
    </head>
    {% block content %}
        <body>
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'show_my_tasks' %}">My tasks</a>
                            </li>
                            <li>
                                <a href="{% url 'list_projects' %}">My projects</a>
                            </li>
                            <li>
                                <a href="{% url 'create_task' %}">create task</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}"></a>Logout
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'signup' %}">Signup</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            <main>
                <div>
                    <h1>Project Details</h1>
                    <p>look here for the project details</p>
                    <h2>{{ project.name }}</h2>
                    {% if tasks %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assignee</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.assignee.username }}</td>
                                        <td>{{ task.start_date|date:'m/d/Y' }}</td>
                                        <td>{{ task.due_date|date:'m/d/Y' }}</td>
                                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                </div>
            </main>
        </body>
    </html>
{% endblock %}
